@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared items style */
.bg-banner{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.dark-4{
    color: #A1A1A1;
}

/* nav section style */
header{
    max-width: 1920px;
    margin: 0 auto;
}
.navbar, .banner{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    
}

.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-left: 55px;
}
.link{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: #424242;
    

}
.nav-title{
    font-size: 2.8125rem;
    font-weight: 700;
    color: #131313;
    

}

/* Banner section style  */

.banner-content{
    max-width: 868px;
    margin: 0 auto;
    text-align: center;
    margin-top: 102px;
    margin-bottom: 50px;
}


.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    margin: 32px 0;
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 21px 24px 20px 25px;
    border: none;

}
.banner-img{
    width: 100%;
    margin-bottom: 45px;
}

/* main section start here */
main{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

/* quick list of our features */
.quick-list{
    display: flex;
    align-items: center;
    margin: 85px 61px 130px;
}
.quick-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    border-radius: 8px;
    
}
.quick-list-content{
    max-width: 537px;
    margin: 0 auto;
    margin-left: 73px;
}
.section-title{
    font-size: 2.8125rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}
#part-1{
    color: #727272;
    font-weight: 500;
}
#part-3{
    color: #FF900E;

}

.section-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    margin-bottom: 32px;
}

/* some facts */
main{
    border: 1px solid black;
}

.some-facts p{
    max-width: 542px;
}
.cards-container{
    display: grid;
    /* width: 90%; */
    margin: 0 auto;
    /* gap: 124px; */
    justify-items: center;
    /* align-items: center; */
    grid-template-columns: repeat(4, 1fr);
    margin: 100px 50px 140px 50px;
}
.card{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    align-content: center;
}
.card img{
    width: 45.22px;
}
.card h4{
    color: #424242;
    font-size: 2.8125rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.card h5{
    color: #727272;
    font-weight: 600;
    font-size: 1.25rem;
}

@media screen and (max-width:576px) {
    .nav-links,
    .navbar,
    .quick-list{
        flex-direction: column;
    }
    .quick-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .quick-list-content{
        margin-right: 0px;
        margin-left: -30px;
        margin-top: 30px;
    }
    .cards-container{
        grid-template-columns: 1fr ;
    }

}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .quick-list{
        flex-direction: column;
    }
    .quick-list-content{
        margin: 50px auto;
    }
}


